<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>FraudDetection </h2>
    <a href="/predict">Predict</a>
</div>

<div class="hero">
    <h1>Online Payments Fraud Detection</h1>
    <p>Secure online transactions using Machine Learning & Real-Time Analysis</p>
    <a href="/predict" class="btn">Start Detection</a>
</div>

<div class="footer">
    © 2026 Online Payments Fraud Detection
</div>

</body>
</html>